body {
    height: 100%;
    margin: 0; /* Remove default margin */
}

h1, .text1 {
    color: darkslategrey;
    font-family: 'Didot', serif;
}

.center {
    text-align: center;
}

.text1 {
    width: 50%;
    margin: 0 auto; /* Center the text box */
}

.flex-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
    gap: 20px; /* Gap between grid items */
}

.col-middle {
    flex: 2; /* Middle column takes up 2 times the space of other columns */
}

.col-left,
.col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; /* Center items horizontally */
}

.s1, .s2, .s3, .s4 {
    position: absolute;
    visibility: hidden;
}

.s1 { font-size: 20pt; color: silver; }
.s2 { font-size: 36pt; color: pink; }
.s3 { font-size: 28pt; color: red; }
.s4 { font-size: 24pt; color: purple; }

.center-image {
    max-width: 100%; /* Set the maximum width to 100% of the container width */
    max-height: 100%; /* Set the maximum height to 100% of the container height */
    display: block; /* Center the image */
    margin: auto; /* Center the image */
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

